/* Estilo para ₲ el contenedor de la página #f6d7d5  #fcb1b1  #f5cbc9  #4dc247 verde whatsapp*/


  #whatsapp-btn {
    position: fixed;
    bottom: 18px;
    right: 17px;
    background-color: #4dc247;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    z-index: 1000;
    transition: transform 0.3s;
  }

  #whatsapp-btn:hover {
    transform: scale(1.1);
  }

.Contenedor-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem;
    background-color: white;
    margin: 1.4rem;
    border-radius: 1rem;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat','Segoe UI', sans-serif;
}
  /* Estilo general del body */
body {
  margin: 0;
  font-family: 'Montserrat','Segoe UI', sans-serif;
  background-color: #f6d7d5;
  color: #333;
}

footer {
  background-color: #f6d7d5;
  padding: 20px;
  justify-content: center;
  text-align: center;
  color: #333;
  font-family: 'Montserrat','Segoe UI', sans-serif;
  font-size: 16px;
  box-shadow: #f6d7d5 0px 0px 10px;
}

/* Contenedor principal */
.contenedor-principal {
  background-color: #f6d7d5;
  box-shadow: #fcb1b1 0px 0px 10px;
  max-width: 1200px;
  margin: 0 auto;
  
}

/* Estilo para el header */
.section-header {
  display: flex;
  flex-direction: column;

  background-color: #f6d7d5;
  padding: 10px 15px;

}
.div-header{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.header-div-2{
  display: flex; 
  justify-content: space-around; 
  flex-direction: column;
  align-items: center; 
  gap: 40px;
}

/* posicion logo y menu */

.div-logo{
  order: 1;
}
.div-menu-header{
  order: 2;
}


/* Estilo del logo */
.logo {
  width: 490px;
  height: 76px;
  object-fit: contain;
}

/* Menú de navegación */
nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #fcb1b1;
}
.btn-link {
  border-radius: .5rem;
  border: #f5cbc9 10px solid;
  background-color: #f5cbc9;
  box-shadow: #fcb1b1 0px 0px 10px;
  gap: .5rem;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}


/* Estilo para el contenido secundario */





.btn-primary {
  font-family: 'Montserrat','Segoe UI', sans-serif;
  font-size: 20px;
  background-color: #fcb1b1;
  color: black;
  border: #fcb1b1 5px solid;
  border-radius: 16px;

  cursor: pointer;
  
}
@media screen and (max-width: 1130px) {
  
  .header-div-2{
    display: flex; 
    justify-content: space-around; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 50px;
  }
  .div-menu-header{
    margin-top: 30px;
    order: 1;
  }
  .div-logo{
    order: 2;
  }
  .buscador-wrapper{
    order: 3;
  }
   

}


@media screen and (max-width: 720px) {

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat','Segoe UI', sans-serif;
  }
  /* Estilo general del body */
  body {
    margin: 0;
    font-family: 'Montserrat','Segoe UI', sans-serif;
    background-color: #f6d7d5;
    color: #333;
  }

  /* Contenedor principal */
  .contenedor-principal {
    background-color: #f6d7d5;
    box-shadow: #fcb1b1 0px 0px 10px;
    max-width: 100%;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 ;
    
  }

  /* Estilo para el header */
  .section-header {
    display: flex;
  
    flex-direction: column;
    background-color: #f6d7d5;
    padding: 10px 0px;

  }
  .header-div-2{
    display: flex; 
    justify-content: space-around; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 30px;
  }
  .div-header{
    display: flex;
    flex-direction: column;

  }

  .container2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  /*tamaño logo*/
  .div-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    object-fit: contain;
  }
  /*ordenacion header*/

  .buscador-wrapper{
    order: 3;
  }
  .div-logo{
    order: 2;
  }
  .div-menu-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    order: 1;
  }

  .btn-primary {
    font-family: 'Montserrat','Segoe UI', sans-serif;
    font-size: 12px;
    background-color: #fcb1b1;
    color: black;
    border: #fcb1b1 5px solid;
    border-radius: 16px;
    cursor: pointer;
  }
  .Contenedor-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem;
    background-color: white;
    margin: 1.4rem;
    border-radius: 1rem;
  }



}


/*prueba de menu raro*/
.menu-toggle {
  display: none;
  background-color: #fcb1b1;
  color: #333;
  font-size: 22px;
  padding: 8.5px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1001;
}
/*nuevos estilos para mobile y hover*/
@media screen and (max-width: 720px) {
  .menu-toggle {
    display: block;
    position: absolute;
    top: 15px;
    right: 4px;
  }

  nav.menu {
    display: none;
    flex-direction: row;
    align-items: center;
    background-color: #f6d7d5;
    padding: 10px 0;
    margin-top: 3.3rem;
    box-shadow: #fcb1b1 0px 4px 8px;
    border-radius: 0 0 12px 12px;
  }
  .nav.menu ul li:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

  nav.menu.active {
    display: flex;
  }

  nav.menu ul {
    flex-direction: row;
    gap: 8px;
  }

  nav.menu ul li a {
    font-size: 16px;
  }
}

.producto:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}