/* Estilo para ₲ el contenedor de la página #f6d7d5  #fcb1b1  #f5cbc9 */
.boton-whatsapp {
  display: inline-flex;
  width: 200px;
  align-items: center;
  gap: 10px;
  background-color: #25D366;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.boton-whatsapp:hover {
  background-color: #1ebe5d;
}

.icono-whatsapp {
  width: 24px;
  height: 24px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat','Segoe UI', sans-serif;
}
  /* Estilo general del body */
body {
  margin: 0;
  font-family: 'Montserrat','Segoe UI', sans-serif;
  background-color: #f6d7d5;
  color: #333;
}

footer {
  background-color: #f6d7d5;
  padding: 20px;
  justify-content: center;
  text-align: center;
  color: #333;
  font-family: 'Montserrat','Segoe UI', sans-serif;
  font-size: 16px;
  box-shadow: #f6d7d5 0px 0px 10px;
}

/* Contenedor principal */
.contenedor-principal {
  background-color: #f6d7d5;
  box-shadow: #fcb1b1 0px 0px 10px;
  max-width: 1200px;
  margin: 0 auto;
  
}

/* Estilo para el header */
.section-header {
  background-color: #f6d7d5;
  padding: 10px 15px;

}
.div-header{
  position: relative;
  align-items: center;

}
.header-div-2{
  display: flex; 
  flex-direction: column;
  justify-content: space-around; 
  align-items: center; 
  gap: 40px;
}


/* Estilo del logo */
.logo {
    margin-top: 20px;
  width: 490px;
  height: 80px;
  object-fit: contain;
  
}
.div-logo{
    order: 1;
}
.div-menu-header{
    display: flex;
    order: 2;
    margin-top: 0px;
    margin-bottom: 20px;
    


}

/* Menú de navegación */
nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}
ul, nav {
  list-style-type: none; /* Elimina los puntos de la lista */
  padding: 0; /* Elimina el relleno */
  margin: 0; /* Elimina los márgenes */
}

nav ul li a:hover {
  color: #fcb1b1;
}
.btn-link {
    font-family: 'Montserrat','Segoe UI', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

/*estilos producto detalles pc*/
.contenedor-producto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding: 15px

}

.contenedor-img-producto{
    width: 400px;
    height: 400px;
    border-radius: 1rem;
    position: relative;
    display: flex;
    border: #fcb1b1 2px solid;
    box-shadow: #fcb1b1 0px 0px 10px;
}
.img-producto{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    position: relative;
    display: flex;
}

.info-producto-destalles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 400px;
    height: auto;
    margin-left: -8rem;


}
.info-producto-destalles ul{
    list-style: none;
    padding: 0;
    margin-left: 15px;
}
.precio-detalles{
    font-size: 28px;
    font-weight: 700;
    color: #333;
}
.descripcion-producto{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin: 20px;
    padding: 30px;
    margin-left: 60px;
    margin-right: 60px;
}









@media screen and (max-width: 1130px) {
  
  .header-div-2{
    display: flex; 
    justify-content: space-around; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 20px;
  }
  .div-menu-header{
    margin-top: 0px;
    margin-bottom: 30px;
    order: 2;
  }
  .div-logo{
    order: 1;
  }
  .buscador-wrapper{
    order: 3;
  }
   

}


@media screen and (max-width: 720px) {
  .contenedor-principal {
    max-width: 100%;
    margin: 0; /* elimina el margen automático lateral */
    padding: 0 10px; /* opcional: agrega algo de padding interno */
  }

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat','Segoe UI', sans-serif;
  }
  /* Estilo general del body */
  body {
    margin: 0;
    font-family: 'Montserrat','Segoe UI', sans-serif;
    background-color: #f6d7d5;
    color: #333;
  }

  /* Contenedor principal */
  .contenedor-principal {
    background-color: #f6d7d5;
    box-shadow: #fcb1b1 0px 0px 10px;
    max-width: 100%;
    margin: 0 ;
    
  }

  /* Estilo para el header */
  .section-header {
    background-color: #f6d7d5;
    padding: 10px 15px;

  }
  .header-div-2{
    display: flex; 
    justify-content: space-around; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 30px;
  }
  .container2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  /*tamaño logo*/
  .div-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    object-fit: contain;
  }
  /*ordenacion header*/

  .buscador-wrapper{
    order: 3;
  }
  .div-logo{
    order: 1;
  }
  .div-menu-header{
    display: none;
    order: 2;
  }
  /*tamaño letras*/
  .container2 h2{
    font-size: 26px;
  }
  .container2 p{
    font-size: 16px;
  }




  .contenedor-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 2px;
  }
  .producto {
    height: 260px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6d7d5;
    border-radius: 1rem;
    padding: 2px;
    box-shadow: #fcb1b1 0px 0px 10px;
    margin-bottom: 10px;
  }
  .producto-imagen {
    width: 100%;
    height: 65%;
    border-radius: 8px;
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    position: relative;
    display: flex;

  }
  .producto-info {
    margin: 0;
    width: 100%;
    height: 30%;
    position: relative;
    display: flex;
    gap: .2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f5cbc1;
    border-radius: 1rem;
    border: #f5cbc1 10px solid;
    margin-top: -.1rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .producto-info h3 {
    font-size: 12px;
  }
  .producto-info p {
    font-size: 12px;
    color: #555;
  }

  .btn-primary {
    font-family: 'Montserrat','Segoe UI', sans-serif;
    font-size: 12px;
    background-color: #fcb1b1;
    color: black;
    border: #fcb1b1 5px solid;
    border-radius: 16px;
    cursor: pointer;
  }
}